<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./static/styles.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>BeListening</h1>
    <div class="centered">
        {% from "_formhelpers.html" import render_field %}
        <form method=post>
            <dl>
              {{ render_field(form.artistname) }}
              {{ render_field(form.year) }}
              {{ render_field(form.genre) }}
            </dl>
            <span>Email</span>
            <input name="email">
            <div class ="button-row">
                <input id="main-btn" type="submit">
            </div>
            <p>The Artists will appear with a popularity rating, higher is more popular.</p>
        </form>
    </div>

</body>
</html>